<img src="../graphics/icr_logo.png" alt="drawing" width="300"/>

# An introduction to programming with Python
## Part 04: Container types

In python, we can collect multiple objects into single variables into containers. The standard container objects are known as

- lists
- tuples
- dictionaries
- sets

In this introductory course, we will primarily focus on *lists*, and to a lesser extent discuss *tuples*.  
Each container has its own properties. The choice of which therefore depends on the problem at hand.

### Lists

We can define a list as a variable, using the assignment operator in the usual way. The right hand operator, which defines the list container,
should be comma seperated collection of objects, enclosed in square brackets `[...]`.

For example, we can define a list of animals, as shown below

In [1]:
animals = ["dog", "cat", "mouse", "fish"]
print(animals)

['dog', 'cat', 'mouse', 'fish']

***

⚙️ ***Exercise A4.1:***: 
- Add a `"fish"` to this list given above and re-run the cell

***

#### Indexing

A list in python is ordered. The position of an **element** within the list is defined by an index, which starts counting from zero, then incremented from left-to-right.  
For our list of animals (assuming you have added the `"fish"`), the element values and corresponding indices are given by

|       |     |     |       |      |
| --:   | :-- | :-- | :--   | :--  |    
| **Value** | "dog" | "cat" | "mouse" | "fish" |
| **Index** | 0   | 1   | 2     | 3    |

We can get an element from a list using its index number. This process is known as **indexing**.

For example, in the cell below, we see that the zeroth element of the list will return "dog":

In [2]:
animals[0]

'dog'

***

⚙️ ***Exercise A4.2:*** 
- Retrieve the value `"fish"` via *indexing* the list `animals`

***

In [6]:
animals[3]

'fish'

Instead of indexing a list by its position counting *forwards*, we can do so counting *backwards*. In this picture, we count from -1, -2, ...

Using the animals excample, we can therefore define

|       |     |     |       |      |
| --:   | :-- | :-- | :--   | :--  |    
| **Value** | "dog" | "cat" | "mouse" | "fish" |
| **Index** | -4   | -3   | -2     | -1    |

***

⚙️ ***Exercise A4.3:*** 
- Verify that the zeroth element of `animals` is equal to the -4th element of `animals` using a *boolean* operator.

***

In [5]:
animals[-4] == animals[0]

True

#### Slicing

We can use two indices to *slice* a list into another list. The general syntax for doing so is: `my_list[START:STOP]`

The sliced list contains all the elements from the `START` index, **up to but excluding** the `STOP` index.

***

⚙️ ***Exercise A4.4:*** 
- In the cell below, slice the  `my_list` to extract the list `[5, 6, 7, 8]`

***

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(my_list[4:8])

[5, 6, 7, 8]

#### Lists are mutable

One important property of lists is that they are mutable. This means that they can be modified and/or deleted.

In the example below, we correct a typo in a list of words:

Observe how we this achieved in the following cell:

In [7]:
words = ["Instituet", "of", "Cancer", "Research"]
print(words)

words[0] = "Institute"
print(words)

['Instituet', 'of', 'Cancer', 'Research']
['Institute', 'of', 'Cancer', 'Research']

***

⚙️ ***Exercise A4.5:*** 
- In the cell below we have defined an erroneous list of odd numbers. Correct the numbers in a similar way as we showed in the previous example.

***

In [8]:
odd_numbers = [1, 3, 4, 8, 9]
print(odd_numbers)

# Fix the first even number here
odd_numbers[2] = 5

# Fix the second even number here
odd_numbers[3] = 7

print(odd_numbers)

[1, 3, 4, 8, 9]
[1, 3, 5, 7, 9]

We can similarly apply the same logic to mutate multiple list elements simultaneously using *index slicing*.

***

⚙️ ***Exercise A4.6:*** 
- Repeat the previous exercise but now using an index slice to assign the two values of 5 & 7.

***

In [10]:
odd_numbers = [1, 3, 4, 8, 9]
print(odd_numbers)

# Fix both even numbers here
odd_numbers[2:4] = [5, 7]  # NOTE: Remember that the upper index is excluded, hence 2:4 not 2:3 here.

print(odd_numbers)

[1, 3, 4, 8, 9]
[1, 3, 5, 7, 9]

Instead of modifying list elements, we can also **delete** them. To do so, we make use of the `del` operator, as shown in the cell below

In [16]:
birds = ["parrot", "heron", "seagull", "donkey"]
print(birds)

del birds[-1]
print(birds)

['parrot', 'heron', 'seagull', 'donkey']
['parrot', 'heron', 'seagull']

***

⚙️ ***Exercise A4.7:*** 
- Copy and paste the previous cell containing the deletion example below. What happens if you continue to repeat `del birds[-1]` another 3 or 4 times?
    - *3 times results in an empty list*
    - *4 times results in `IndexError`. The list assignment is out of range! Meaning that, because we have no elements, we cannot index anything... The same error would occur if we had only one element, and attempted to index by 2.*
***

In [17]:
birds = ["parrot", "heron", "seagull", "donkey"]
print(birds)

del birds[-1]
del birds[-1]
del birds[-1]
del birds[-1]
del birds[-1]
print(birds)

['parrot', 'heron', 'seagull', 'donkey']

IndexError: list assignment index out of range

It is often case that we will not have prior knowledge of a lists content. A quick way to see how many elements we have, is to use the `len(<list>)` (short for length) function.

***

⚙️ ***Exercise A4.8:*** 
1. Create a new cell below.
2. Create a list of your choosing.
3. Print out the number of elements inside of that list using the length function and confirm it is as you expect.

***

In [18]:
new_list = ["foo", "bar", "python"]  # 3 elements
print(len(new_list))

3

#### Other list properties

We can add lists together, in a process known as concatenation:

In [19]:
list_a = [1, 2]
list_b = ["dog", "cat"]
list_a + list_b

[1, 2, 'dog', 'cat']

Lists can be repeated, by multiplying them with an integer

In [20]:
[1, 2, 3] * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

#### List methods

Lists have many *methods that are bound to them*. One useful example, is the `append(...)` method, as illustrated below

In [21]:
my_list = [1, 2, 3, 4]
print(my_list)

my_list.append(5)
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

Some further list methods are as follows

| Method      | Description           
| :---        |:---            
| append(<value>)    | Adds an element of some <value> to the end of the list       
| clear()            | Removes all the elements from the list
| copy()             | Returns a copy of the list 
| count(<value>)     | Returns the number of elements of whose value equals <value>
| extend(<iterable>) | Adds all elements from an iterable object, such as a list, to the end of the list
| index(<value>)     | Returns the index of the first element with the specified value 
| insert(<index_location>, <value>)    | Insert an element of some <value> into the list a position with <index_location>
| pop(<index_location>)              | Removes and returns an element from a list. If no <index_location> is specified, removes the last element
| remove(<value>)    | Removes the first occurance of <value> from the list
| reverse()          | Reverses the order of the list
| sort()             | Sorts the values within a list

***

⚙️ ***Exercise A4.9:***
- Run the following cell, then try replacing the "clear" method with some other methods. You may need to add a value depending on your choices! 

***

In [22]:
great_list = [1, 2, 3]
print(great_list)

# great_list.clear()
# print(great_list)

great_list.reverse()
print(great_list)

[1, 2, 3]
[3, 2, 1]

### Tuples

Tuples have similar properties to lists...

1. They are containers
2. They can contain values of different data types
3. They can be indexed and sliced

... But they are not the same.

***

⚙️ ***Exercise A4.10:***
- Try modifying the value of the zeroth element of the tuple in the following cell.

***

In [23]:
tuple_of_nums = (1, 2, 3)
tuple_of_nums[0] = 0

TypeError: 'tuple' object does not support item assignment

A fundamental distinction is that tuples are *immutable* objects.

### Some remarks on strings

Strings (though not really a container) share some properties with lists and tuples... For example, strings can be multiplied with integers

***

⚙️ ***Exercise A4.11:***
- Modify the print statement to show us the result of string multiplication with an integer.

***

In [24]:
my_str = "over and "

print(my_str * 5)

over and over and over and over and over and

You can also check the string's length

***

⚙️ ***Exercise A4.12:***
- Create a cell below and use the `len` function to check its length.

***

In [25]:
test_str = "Python is rad"
len(test_str)

13

Strings can also be sliced to extract sub-strings

***

⚙️ ***Exercise A4.13:*** 
- In the cell below, try to manipulate the string variable using index slicing to return the world, "Hello"

***

In [26]:
my_str = "Hello, World!"
my_str[0:5] # could also my_str[:5]

'Hello'

It is worth noting that strings are immutable.

***

⚙️ ***Exercise A4.14:*** 
- Try modifying or deleting an element in the cell in the cell below

***

In [27]:
text = "This is a sentence."
text[0] = "x"

TypeError: 'str' object does not support item assignment